# 数据分析笔试题

`data`文件夹中有三个数据表（详见[数据字典](#附数据字典)）。

这是一个患者管理项目的子集。医生收录患者后，患者将按要求自行测量血糖，向系统上传血糖值；还需在管理一段时间后，定期回到医院做化验检查。请根据这些数据，回答以下问题：

设：当前日期为2021年7月1日

## Mysql操作

假设这三个数据表来自Mysql数据库，写一个sql查询脚本，查询以下问题：
1. 每位医生各收录几名患者？其中各有几名患者上传了血糖？
2. 按收录患者数量降序排列

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
import statsmodels.api as sm
# from pymongo import MongoClient
import gc
gc.disable()
%matplotlib inline

In [9]:
sql = '''
(请完善此处内容)
'''

print(sql)

(请完善此处内容)

## MongoDB操作

假设`patient_list`表来自MongoDB数据库，字段层级均为单层，完善以下查询脚本，选出最近一个月（2021年6月）收录的患者

```python
client = MongoClient('mongodb://<host>:<port>/')
```

In [10]:
filt={
   # 请完善此处内容
}
proj = {
   # 请完善此处内容
}

```python
result = client[<db>][<collection>].find(
    filter=filt,
    projection=proj
)
```

## 分析案例

请对`data`文件夹中的数据进行分析，回答以下几个问题：

### 第一组

按医生分组分析：

1. 患者年龄分布是什么样的？
2. 最近一个月有多少比例的患者上传了血糖数据？上传血糖的患者中，人均测量次数是多少？
3. 测量次数>=8次的患者各有多少人，这些患者的人均测量次数是多少？   
4. 从化验数据中找出所有糖化血红蛋白（即HbA1c，默认单位是“%”）数据，分别分析总体患者及每位医生管理的患者中，基线值（即患者收录日期前180天至后收录日期后30天之间的最早一次化验）与管理一段时间之后的最新化验结果（即当前日期之前90天内的最后一次化验）的变化：
   1. 管理前后的平均值和/或中位数分别多少，是否有显著差异？
   2. 设糖化血红蛋白达标为：年龄>=65岁的患者要求 < 7.5%，年龄<65岁的患者要求<7%。不良为>9.5%。达标率和不良率分别如何？管理前后是否有显著差异？

*提示：糖化血红蛋白数据可能需要适当探索和清洗。*

In [31]:
pts = pd.read_csv('./data/patient_list.csv')
glu = pd.read_csv('./data/glucose.csv')
lab = pd.read_csv('./data/lab.csv')
print(pts.shape)
print(glu.shape)
print(lab.shape)
display(pts.head(3), glu.head(3), lab.head(3))

(535, 4)
(3149, 3)
(1416, 6)

      pat_id          create_time  age     doc_id
0  P_0000209  2018-11-14 14:05:36   63  D_0000001
1  P_0000520  2019-02-27 19:55:03   41  D_0000001
2  P_0000200  2019-01-16 20:17:16   43  D_0000001

      pat_id          create_time  glucose
0  P_0000020  2021-06-01 02:34:18      4.6
1  P_0000020  2021-06-01 06:39:31      6.1
2  P_0000020  2021-06-02 08:17:35     11.7

,pat_id,lab_date,labreport_name,labitems_code,labitems_name,lab_value
0,P_0000001,2020-07-02 09:15:29,糖化血红蛋白,1591,糖化血红蛋白A1c,8.30
1,P_0000001,2019-11-16 11:18:23,糖化血红蛋白（住院）,1591,糖化血红蛋白A1c,8.9
2,P_0000001,2018-11-20 17:30:27,糖化血红蛋白,1591,糖化血红蛋白A1c,10.1

#### 年龄分布

#### 血糖测量情况

#### 糖化血红蛋白

### 第二组（选做）

5. 运用适当的统计分析方法调查，仅从本案例提供的信息中来看，近期化验的糖化血红蛋白是否达标，可能与什么因素相关？

将上述分析结果选择合适的图表形式进行可视化表达。

## 答题要求

1. 提交分析报告（.html或.pdf）和脚本（.py或.ipynb）；
2. 计算结果准确；
3. 分析思路清晰；
4. 脚本可复现、可读性良好；
5. 可视化效果简洁美观。

## 附：数据字典

**patient_list**

收录患者名单。

| 字段名 | 数据类型 | 注释 |
| ------ | ------ | ------ |
| pat_id | varchar(45) | 患者ID |
| create_time | datetime | 收录时间 |
| age | int(11) | 患者年龄 |
| doc_id | varchar(45) | 主管医生 |

**glucose**

最近一个月患者的血糖数据

| 字段名 | 数据类型 | 注释 |
| ------ | ------ | ------ |
| pat_id | varchar(45) | 患者ID |
| create_time | datetime | 上传时间 |
| glucose | decimal(3, 1) | 血糖值 |

**lab**

化验数据

| 字段名 | 数据类型 | 注释 |
| ------ | ------ | ------ |
| pat_id | varchar(45) | 患者ID |
| lab_date | datetime | 化验日期 |
| labreport_name | varchar(200) | 化验报告标题 |
| labitems_code | varchar(20) | 化验项目编号 |
| labitems_name | varchar(200) | 化验项目名称 |
| lab_value | varchar(45) | 化验结果 |